QUESTION NO 1

In [138]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\alsha mohammed\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\alsha mohammed\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [139]:
import pandas
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [17]:
driver=webdriver.Chrome()

In [18]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [11]:
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [12]:
Name_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in Name_tags:
    Name.append(i.text)

Artist_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in Artist_tags:
    Artist.append(i.text)

Upload_date_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in Upload_date_tags:
    Upload_date.append(i.text)
    
Views_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in Views_tags:
    Views.append(i.text)

In [14]:
print(len(Name),len(Artist),len(Upload_date),len(Views))

30 30 30 30

In [16]:
import pandas as pd
df=pd.DataFrame({'NAME':Name,'ARTIST':Artist,'UPLOAD_DATE':Upload_date,'VIEWS':Views})
df

,NAME,ARTIST,UPLOAD_DATE,VIEWS
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.32,"June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,8.41,"January 12, 2017"
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.89,"October 8, 2016"
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.66,"May 2, 2018"
4,"""Shape of You""[20]",Ed Sheeran,6.23,"January 30, 2017"
5,"""See You Again""[23]",Wiz Khalifa,6.22,"April 6, 2015"
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,6.01,"May 24, 2018"
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.75,"March 6, 2014"
8,"""Uptown Funk""[30]",Mark Ronson,5.18,"November 19, 2014"
9,"""Gangnam Style""[31]",Psy,5.10,"July 15, 2012"
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.09,"February 27, 2018"
11,"""Dame Tu Cosita""[37]",Ultra Records,4.59,"April 5, 2018"
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,4.57,"January 31, 2012"
13,"""Axel F""[39]",Crazy Frog,4.45,"June 16, 2009"
14,"""Sugar""[40]",Maroon 5,4.02,"January 14, 2015"
15,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,4.01,"June 25, 2018"
16,"""Counting Stars""[42]",OneRepublic,4.00,"May 31, 2013"
17,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.98,"June 14, 2018"
18,"""Roar""[44]",Katy Perry,3.98,"September 5, 2013"
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.89,"June 4, 2010"
20,"""Sorry""[46]",Justin Bieber,3.78,"October 22, 2015"
21,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,3.77,"May 10, 2011"
22,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.76,"January 26, 2018"
23,"""Thinking Out Loud""[49]",Ed Sheeran,3.75,"October 7, 2014"
24,"""Perfect""[50]",Ed Sheeran,3.70,"November 9, 2017"
25,"""Dark Horse""[51]",Katy Perry,3.70,"February 20, 2014"
26,"""Let Her Go""[52]",Passenger,3.64,"July 25, 2012"
27,"""Faded""[53]",Alan Walker,3.60,"December 3, 2015"
28,"""Girls Like You""[54]",Maroon 5,3.58,"May 31, 2018"
29,"""Lean On""[55]",Major Lazer Official,3.57,"March 22, 2015"

QUESTION NO 2

In [89]:
driver=webdriver.Chrome()

In [90]:
driver.get("https://www.bcci.tv/.")

In [27]:
search=driver.find_element(By.XPATH,'//div[@class="imw-tabs international-tabs"]/a[2]')
search.click()

In [13]:
Series=[]
Place=[]
Date=[]
Time=[]

In [14]:
Series_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope t20-tag"]')
for i in Series_tags:
    Series.append(i.text)

Place_tags=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in Place_tags:
    Place.append(i.text)

Date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in Date_tags:
    Date.append(i.text)

Time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in Time_tags:
    Time.append(i.text)

In [15]:
print(len(Series),len(Place),len(Date),len(Time))

9 9 9 9

In [16]:
import pandas as pd
df=pd.DataFrame({'SERIES':Series,'PLACE':Place,'DATE':Date,'TIME':Time})
df

,SERIES,PLACE,DATE,TIME
0,1st T20I,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
1,2nd T20I,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
2,3rd T20I,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
3,4th T20I,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,1st T20I,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
5,2nd T20I,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
6,3rd T20I,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
7,4th T20I,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
8,5th T20I,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

QUESTION NO 3

In [86]:
driver=webdriver.Chrome()

In [87]:
driver.get("http://statisticstimes.com/")

In [31]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search.click()

In [33]:
Rank=[]
State=[]
GSDP_21_22_at_current_prices=[]
GSDP_22_23_at_current_prices=[]
Share_21_22=[]
GDP_billion_dollar=[]

In [34]:
Rank_tags=driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]//div[@class="dataTables_wrapper"]//table[@class="display dataTable"]/tbody//td[@class="data1"]')
for i in Rank_tags:
    Rank.append(i.text)

State_tags=driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]//div[@class="dataTables_wrapper"]//table[@class="display dataTable"]/tbody//td[@class="name"]')
for i in State_tags:
    State.append(i.text)

GSDP_21_22_at_current_prices_tags=driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]//div[@class="dataTables_wrapper"]//table[@class="display dataTable"]/tbody//td[@class="data"][3]')
for i in GSDP_21_22_at_current_prices_tags:
    GSDP_21_22_at_current_prices.append(i.text)

GSDP_22_23_at_current_prices_tags=driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]//div[@class="dataTables_wrapper"]//table[@class="display dataTable"]/tbody//td[@class="data"][2]')
for i in GSDP_22_23_at_current_prices_tags:
    GSDP_22_23_at_current_prices.append(i.text)

Share_21_22_tags=driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]//div[@class="dataTables_wrapper"]//table[@class="display dataTable"]/tbody//td[@class="data"][4]')
for i in Share_21_22_tags:
    Share_21_22.append(i.text)
    
GDP_billion_dollar_tags=driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]//div[@class="dataTables_wrapper"]//table[@class="display dataTable"]/tbody//td[@class="data"][5]')
for i in GDP_billion_dollar_tags:
    GDP_billion_dollar.append(i.text)

In [35]:
print(len(Rank),len(State),len(GSDP_21_22_at_current_prices),len(GSDP_22_23_at_current_prices),len(Share_21_22),len(GDP_billion_dollar))

33 33 33 33 33 33

In [36]:
import pandas as pd
df=pd.DataFrame({'RANK':Rank,'STATE':State,'GSDP_21_22_AT_CURRENT_PRICES':GSDP_21_22_at_current_prices,'GSDP_22_23_AT_CURRENT_PRICES':GSDP_22_23_at_current_prices,'SHARE_21_22':Share_21_22,'GDP_BILLION_DOLLAR':GDP_billion_dollar})
df

,RANK,STATE,GSDP_21_22_AT_CURRENT_PRICES,GSDP_22_23_AT_CURRENT_PRICES,SHARE_21_22,GDP_BILLION_DOLLAR
0,1,Maharashtra,13.17%,-,414.928,-
1,2,Tamil Nadu,8.78%,"2,364,514",276.522,"1,572,601"
2,3,Karnataka,8.38%,"2,269,995",264.080,"1,423,229"
3,4,Uttar Pradesh,8.37%,"2,258,040",263.747,"1,423,358"
4,5,Gujarat,8.17%,"2,230,609",257.484,-
5,6,West Bengal,5.63%,"1,531,758",177.456,"904,088"
6,7,Rajasthan,5.06%,"1,365,849",159.334,"842,621"
7,8,Andhra Pradesh,4.87%,"1,303,524",153.324,"820,894"
8,9,Telangana,4.76%,"1,308,034",150.084,"767,936"
9,10,Madhya Pradesh,4.63%,"1,246,471",145.913,"660,363"
10,11,Kerala,3.96%,"1,046,188",124.764,-
11,12,Delhi,3.73%,"1,014,688",117.660,"672,247"
12,13,Haryana,3.68%,"984,055",116.001,"634,027"
13,14,Odisha,2.81%,"753,177",88.497,"503,871"
14,15,Bihar,2.76%,"751,396",86.817,-
15,16,Punjab,2.62%,"676,164",82.397,"493,283"
16,17,Assam,1.74%,"493,167",54.930,"318,559"
17,18,Chhattisgarh,1.74%,"464,399",54.806,"321,945"
18,19,Jharkhand,1.52%,"393,722",47.909,-
19,20,Uttarakhand,1.13%,"303,781",35.664,"213,378"
20,21,Jammu & Kashmir,0.82%,"224,226",25.813,"139,171"
21,22,Himachal Pradesh,0.73%,"191,728",22.984,"142,800"
22,23,Goa,0.36%,"93,672",11.250,-
23,24,Tripura,0.27%,"72,636",8.351,-
24,25,Chandigarh,0.20%,"54,285",6.154,-
25,26,Puducherry,0.19%,"49,643",5.849,-
26,27,Meghalaya,0.16%,"42,697",5.178,"26,524"
27,28,Sikkim,0.16%,"42,756",5.014,-
28,29,Manipur,0.16%,-,4.885,-
29,30,Arunachal Pradesh,0.15%,"39,630",4.643,-
30,31,Nagaland,0.13%,"35,643",4.144,-
31,32,Mizoram,0.12%,-,3.715,-
32,33,Andaman & Nicobar Islands,0.04%,-,1.385,-

QUESTION NO 4

In [140]:
driver=webdriver.Chrome()

In [141]:
driver.get("https://github.com/")

In [145]:
Repository_Title=[]
Repository_Description=[]
Contributors_Count=[]
Language_used=[]

In [146]:
Repository_Title_tags=driver.find_elements(By.XPATH,'//div[@class="position-relative container-lg p-responsive pt-6"]//div[@class="Box"]//h2[@class="h3 lh-condensed"]/a')
for i in Repository_Title_tags:
    Repository_Title.append(i.text)

Repository_Description_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in Repository_Description_tags:
    Repository_Description.append(i.text)

Contributors_Count_tags=driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
for i in Contributors_Count_tags:
    Contributors_Count.append(i.text)

Language_used_tags=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in Language_used_tags:
    Language_used.append(i.text)

In [147]:
print(len(Repository_Title),len(Repository_Description),len(Contributors_Count),len(Language_used))

25 19 25 23

In [148]:
import pandas as pd
df=pd.DataFrame({'REPOSITORY_TITLE':Repository_Title,'REPOSITORY_DESCRIPTION':Repository_Description,'CONTRIBUTORS_COUNT':Contributors_Count,'LANGUAGE_USED':Language_used})
df

ValueError: All arrays must be of the same length

QUESTION NO 5

In [75]:
driver=webdriver.Chrome()

In [76]:
driver.get("https:/www.billboard.com/")
time.sleep(5)

In [77]:
element=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
element.click()

In [46]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peek_rank=[]
Weeks_on_board=[]

In [47]:
Song_name_tags=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/h3')
for i in Song_name_tags:
    Song_name.append(i.text)

Artist_name_tags=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')
for i in Artist_name_tags:
    Artist_name.append(i.text)

Last_week_rank_tags=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
for i in Last_week_rank_tags:
    Last_week_rank.append(i.text)

Peek_rank_tags=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
for i in Peek_rank_tags:
    Peek_rank.append(i.text)
    
Weeks_on_board_tags=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]')
for i in Weeks_on_board_tags:
    Weeks_on_board.append(i.text)

In [48]:
print(len(Song_name),len(Artist_name),len(Last_week_rank),len(Peek_rank),len(Weeks_on_board))

100 100 100 100 100

In [49]:
import pandas as pd
df=pd.DataFrame({'SONG_NAME':Song_name,'ARTIST_NAME':Artist_name,'LAST_WEEK_RANK':Last_week_rank,'PEER_RANK':Peek_rank,'WEEKS_ON_BOARD':Weeks_on_board})
df

,SONG_NAME,ARTIST_NAME,LAST_WEEK_RANK,PEER_RANK,WEEKS_ON_BOARD
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1
1,Type Shit,"Future, Metro Boomin, Travis Scott & Playboi C...",-,2,1
2,Beautiful Things,Benson Boone,2,2,10
3,Lose Control,Teddy Swims,1,1,33
4,Too Sweet,Hozier,-,5,1
...,...,...,...,...,...
95,La Victima,Xavi,77,46,15
96,Tucson Too Late,Jordan Davis,81,81,4
97,Empire Now,Hozier,-,98,1
98,Girl I've Always Been,Olivia Rodrigo,-,99,1
99,Outskirts,Sam Hunt,92,92,3

QUESTION NO 6

In [78]:
driver=webdriver.Chrome()

In [79]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [33]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [34]:
Book_name_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in Book_name_tags:
    Book_name.append(i.text)

Author_name_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in Author_name_tags:
    Author_name.append(i.text)

Volumes_sold_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in Volumes_sold_tags:
    Volumes_sold.append(i.text)

Publisher_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in Publisher_tags:
    Publisher.append(i.text)
    
Genre_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in Genre_tags:
    Genre.append(i.text)

In [35]:
print(len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [36]:
import pandas as pd
df=pd.DataFrame({'BOOK_NAME':Book_name,'AUTHOR_NAME':Author_name,'VOLUMES_SOLD':Volumes_sold,'PUBLISHER':Publisher,'GENRE':Genre})
df

,BOOK_NAME,AUTHOR_NAME,VOLUMES_SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

QUESTION NO 8

In [80]:
driver=webdriver.Chrome()

In [83]:
driver.get("https://archive.ics.uci.edu/")

In [82]:
element=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
element.click()

In [48]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_Type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [49]:
Dataset_name_tags=driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]//a[@class="link-hover link text-xl font-semibold"]')
for i in Dataset_name_tags:
    Dataset_name.append(i.text)

Data_type_tags=driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]//div[@class="col-span-3 flex items-center gap-2"][2]')
for i in Data_type_tags:
    Data_type.append(i.text)

Task_tags=driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]//div[@class="col-span-3 flex items-center gap-2"][1]')
for i in Task_tags:
    Task.append(i.text)

Attribute_Type_tags=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
for i in Attribute_Type_tags:
    Attribute_Type.append(i.text)
    
No_of_instances_tags=driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]//div[@class="col-span-3 flex items-center gap-2"][3]')
for i in No_of_instances_tags:
    No_of_instances.append(i.text)
    
No_of_attribute_tags=driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]//div[@class="col-span-3 flex items-center gap-2"][4]')
for i in No_of_attribute_tags:
    No_of_attribute.append(i.text)
    
Year_tags=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
for i in Year_tags:
    Year.append(i.text)

In [50]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_Type),len(No_of_instances),len(No_of_attribute),len(Year))

10 10 10 10 10 10 10

In [51]:
import pandas as pd
df=pd.DataFrame({'DATASET_NAME':Dataset_name,'DATA_TYPE':Data_type,'TASK':Task,'ATTRIBUTE_TYPE':Attribute_Type,'NO_OF_INSTANCES':No_of_instances,'NO_OF_ATTRIBUTE':No_of_attribute,'YEAR':Year})
df

,DATASET_NAME,DATA_TYPE,TASK,ATTRIBUTE_TYPE,NO_OF_INSTANCES,NO_OF_ATTRIBUTE,YEAR
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A